body
{
    background: powderblue;
}
#heading
{
    font-style: italic;
    text-align: center;
    color: brown;
    background:powderblue;
    
}
#bulb
{
    padding-top: 5%;
    padding-left: 43%;
   
}